@use '@styles/mixins/mixins' as mx; // Needs to be loaded before the sass-butler mixins

.c-box {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'image'
		'content';
	gap: 2rem;

	@include mx.breakpoint('sm') {
		grid-template-columns: 2fr 3fr;
		grid-template-areas:
			'image content';
	}

	&__col-wrapper {
		grid-area: content;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'page-numbers year'
			'download download'
			'share share';
		column-gap: 1.5rem;

		@include mx.breakpoint('xs') {
			grid-template-areas:
				'page-numbers year'
				'download share';
		}
	}

	&__image {
		grid-area: image;
		border-radius: 8px;
	}

	&__publisher {
		margin: 1.625rem 0 0;
		font-weight: 300;
	}

	&__headline {
		margin: 1.8rem 0 0;
		font-size: var(--font-size-2xl);
	}

	&__subheadline {
		font-size: var(--font-size-lg);
	}

	&__description {
		margin: 0;
	}

	&__page-numbers,
	&__year {
		margin: 2.5rem 0;

		.is-label,
		.is-number {
			margin: 0;
		}

		.is-label {
			font-style: italic;
		}

		.is-number {
			font-weight: 700;
		}
	}

	&__page-numbers {
		grid-area: page-numbers;
	}

	&__year {
		grid-area: year;
	}

	&__download,
	.c-share {
		--padding-button: 0.75rem 1.625rem;

		font-size: var(--font-size-md);
		display: flex;
		align-items: center;
		gap: .75rem;
	}

	&__download {
		grid-area: download;
		text-decoration: none;

		@include mx.breakpoint('xs', 'max') {
			margin-bottom: 1rem;
		}
	}

	&__citation {
		grid-area: citation;
		background-color: var(--blue-100);
		padding: .75rem;
		border-radius: 3px;
		font-size: 1rem;
		margin: 2.5rem 0 0;
	}

	&__citation a {
		font-size: 1rem;
	}

	.c-share {
		grid-area: share;
	}
}
