.c-flipbook {
	height: 100vh;
	overflow: hidden;

	&__action-bar {
		display: flex;
		justify-content: center;
		padding-bottom: 3rem;

		&-inner {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		&-button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
