@use "@styles/mixins/mixins" as mx; // Needs to be loaded before the sass-butler mixins

.c-flipbook {
  height: 80vh;

  @include mx.breakpoint("md") {
    height: calc(100vh - 64px - 24px);
  }

  &__action-bar {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }

  &__action-bar-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "page-num page-num page-num page-num"
      ". zoom-in zoom-out ."
      "first prev next last";
    align-items: center;
    gap: 0.5rem;

    @include mx.breakpoint("sm") {
      grid-template-columns: repeat(7, 1fr);
      grid-template-areas: "first prev zoom-in page-num zoom-out next last";
    }
  }

  &__action-bar-button {
    --padding-button: 0.5rem 1.425rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &.is-prev {
      grid-area: prev;
    }

    &.is-next {
      grid-area: next;
    }

    &.is-last {
      grid-area: last;
    }

    &.is-first {
      grid-area: first;
    }

    &.is-zoom-in {
      grid-area: zoom-in;
    }

    &.is-zoom-out {
      grid-area: zoom-out;
    }
  }

  &__page-num {
    grid-area: page-num;
    text-align: center;
  }

  .viewport {
    overflow: hidden;
  }
}
