@use "@styles/mixins/mixins" as mx; // Needs to be loaded before the sass-butler mixins
@use "@sass-butler/mixins" as butler-mx;

.c-pub-toc {
  @include mx.breakpoint("sm") {
    overflow-y: auto;
    max-height: 100vh;
  }

  &__start-heading {
    margin: 0 0 1rem;
    font-size: var(--font-size-xl);
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
  }

  &__controls-button {
    --padding-button: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
    font-size: 1.025rem;

    @include butler-mx.hover {
      text-decoration: underline;
    }
  }

  &__chapter,
  &__page {
    padding: 0.5rem;
  }

  &__chapter {
    &.is-current {
      border: 1px solid var(--green-300);
      border-radius: 3px;
    }
  }

  &__chapter-title {
    margin: 0;
    text-align: left;
    flex: 1 1 100%;
  }

  &__chapter-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__chapter-icon {
    width: 24px;
    flex: 1 0 24px;

    &.is-open {
      transform: rotate(90deg);
    }
  }

  &__chapter-list {
    margin-block-start: 0.8rem;
  }

  &__page {
    border: 1px solid var(--green-300);

    &-title {
      font-weight: bold;
      margin: 0 0 0.5rem;
    }

    &.is-current {
      background-color: var(--green-100);
      border-radius: 3px;
    }
  }

  &__headline {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;

    &.is-active {
      background-color: var(--green-300);
    }
  }
}
