@use "@styles/mixins/mixins" as mx; // Needs to be loaded before the sass-butler mixins

.c-quote {
  font-family: monospace;
  font-size: 1.1rem;
  margin-inline-start: var(--margin-inline-start-quote, 0);

  @include mx.breakpoint("xs", "max") {
    margin-right: 0;
  }
  @include mx.breakpoint("xs") {
    float: left;
  }
  @include mx.breakpoint("sm") {
    --margin-inline-start-quote: -3ch;
  }

  &__tag,
  p {
    background-color: var(--background-color-quote, var(--chapter-theme-color));
    padding: 8px;
  }

  &__tag {
    display: inline-block;
    color: white;
  }

  p {
    display: inline;
  }
}
