.u-list-reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.u-scale-hover {
	transition: transform 0.2s ease-in-out;

	@media (hover: hover) {
		&:hover {
			transform: scale(1.05);
		}
	}
}
