---

---
<blockquote class="c-quote">

  <span class="c-quote__tag">///&lt;quote&gt;</span>
  <br/>

  &emsp;&emsp;&emsp;<slot />

  <span class="c-quote__tag">///&lt;/quote&gt;</span>

</blockquote>
