@use '@styles/mixins/mixins' as mx; // Needs to be loaded before the sass-butler mixins

.o-content {
	padding: 1rem 1rem 3rem;

	@include mx.breakpoint('sm') {
		padding: 1rem 4rem 5rem
	}

	&--index {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		row-gap: 8rem;
	}

	&--publication {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 'sidebar' 'publication';
		column-gap: 4rem;

		@include mx.breakpoint('sm') {
			grid-template-columns: 6fr 3fr;
			grid-template-areas: 'publication sidebar';
		}

		.o-publication {
			grid-area: publication;
		}
	}
}
