@use '@styles/mixins/mixins' as mx; // Needs to be loaded before the sass-butler mixins

.o-content {
	padding: 3rem 1rem;

	@include mx.breakpoint('sm') {
		padding: 5rem 4rem;
	}

	&--index {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		row-gap: 8rem;
	}

	&--publication {
		display: grid;
		grid-template-columns: 6fr 3fr;
		grid-template-areas: 'publication sidebar';
		column-gap: 4rem;

		.o-publication {
			grid-area: publication;
		}
	}
}
