@use "sass:list";
@use "@styles/mixins/mixins" as mx; // Needs to be loaded before the sass-butler mixins
@use "@sass-butler/functions" as butler-fn;
@use "@styles/variables/colors";

.o-content {
  padding: 1rem 1rem 3rem;

  @include mx.breakpoint("sm") {
    padding: 1rem 4rem 5rem;
  }

  &--index {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
  }

  &--publication {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "publication";
    column-gap: 4rem;

    @include mx.breakpoint("sm") {
      grid-template-columns: 6fr 3fr;
      grid-template-areas: "publication sidebar";
    }

    .o-publication {
      grid-area: publication;
    }

    .c-tag {
      + h1 {
        margin-block-start: 0.5rem;
      }

      &:has(+ h1) {
        margin-block-start: 4rem;
      }
    }

    article {
      $headlines: ();

      @for $h from 1 to 6 {
        $headlines: list.append($headlines, h#{$h}, $separator: comma);
      }

      :is(#{$headlines}) {
        color: var(--chapter-theme-color);
        text-transform: uppercase;
      }

      h1 {
        margin-block-end: 4rem;

        + h2 {
          color: #000;
          margin-block-start: 1rem;
          margin-block-end: 4rem;
          font-size: butler-fn.fluid(16, 26);
          text-transform: none;
        }

        &:has(+ h2) {
          margin-block-end: 0;
        }

        &:has(+ :not(h2)) {
          margin-block-start: 4rem;
        }
      }

      ul {
        padding-inline-start: 1rem;

        li {
          padding-inline-start: 0.5rem;

          &::marker {
            content: "\25A0";
            color: var(--color-page-list-marker, var(--chapter-theme-color));
          }
        }
      }

      footer {
        ul {
          li {
            padding-inline-start: 0.75rem;

            &::marker {
              content: "///";
              color: var(--color-page-list-marker, var(--chapter-theme-color));
            }
          }
        }
      }
    }

    .c-author {
      margin: 2rem 0 0;
    }

    .c-blockquote,
    .c-quote {
      + p {
        display: inline;
      }
    }

    p:has(+ .c-blockquote),
    p:has(+ .c-quote) {
      display: inline;
    }
  }

  @for $i from 1 through 6 {
    &--chapter-#{$i} {
      --chapter-theme-color: #{list.nth(colors.$chapter-theme-colors, $i)};
    }
  }

  &--chapter-0,
  &--chapter-7 {
    --chapter-theme-color: var(--green-300);
  }
}
