.o-footer {
	&__supporter {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}

	&__supporter-item {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: 130px;
			min-height: 100px;
		}
	}
}
