$green-100: #c1d98d;
$green-300: #a1c854;
$green-600: #52aa5a;
$orange: #efb638;
$blue-100: #d0dee7;
$blue-200: #84adc8;
$blue-500: #233c78;
$blue-900: #1b1448;

/// Colors map
$colors: (
  "green-100": $green-100,
  "green-300": $green-300,
  "green-600": $green-600,
  "orange": $orange,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-500": $blue-500,
  "blue-900": $blue-900,
);
