---
import "src/vendor/wow_book/wow_book.css";
---

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"
></script>
<script type="text/javascript" src="src/vendor/wow_book/pdf.combined.min.js"
></script>
<script type="text/javascript" src="src/vendor/wow_book/wow_book.min.js"
></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#book").wowBook({
      pdf: "pdfs/230605_B&B_Journal_final.pdf",
      pdfTextSelectable: true,
      height: 500,
      width: 600,
      container: true,
      centeredWhenClosed: true,
      hardcovers: false,
      pageNumbers: false,
      toolbar:
        "lastLeft, left, right, lastRight, toc, zoomin, zoomout, slideshow, fullscreen, thumbnails, download",
      thumbnailsPosition: "left",
      responsiveHandleWidth: 50,
      flipSound: false,
    });
  });
</script>

<div class="book-container">
  <div id="book"></div>
</div>
