---
import Logo from "@components/Logo.astro";
import MainNav from "@components/MainNav.vue";
import "@styles/objects/_header.scss";

const items = [
  {
    label: "Community",
    path: "/",
    childItems: [
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
    ],
  },
  {
    label: "Conference 2022",
    path: "/",
    childItems: [
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
    ],
  },
  {
    label: "Conference 2018",
    path: "/",
    childItems: [
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
    ],
  },
  {
    label: "Join!",
    path: "/",
    childItems: [
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
    ],
  },
  {
    label: "Material",
    path: "/",
    childItems: [
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
      {
        label: "Praesent egestas neque eu enim",
        path: "/",
      },
    ],
  },
];
---

<header class="o-header">
  <div class="o-header__inner">
    <Logo load="eager" />
    <MainNav menuItems={items} client:load />
  </div>
</header>
