---
import "@styles/components/_table-of-contents.scss";

export interface Props {
  toc: [
    {
      title: string;
      url: string;
      pageNumber?: number | string;
    }
  ];
}

const { toc } = Astro.props;
---

<section class="c-table-of-contents" id="toc">
  <h2 class="c-table-of-contents__headline">Table of Contents</h2>
  <nav class="c-table-of-contents__nav">
    <ol class="c-table-of-contents__menu">
      {
        toc.map((item) => (
          <li class="c-table-of-contents__menu-item">
            <a href={item.url} class="c-table-of-contents__menu-link">
              <span class="c-table-of-contents__title">{item.title}</span>
              {item.pageNumber && (
                <span class="c-table-of-contents__page-number">
                  {item.pageNumber}
                </span>
              )}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>
  <img
    src="images/pixels/pixel-box-img.svg"
    alt="Pixel"
    loading="lazy"
    decoding="async"
    class="c-table-of-contents__pixel"
  />
</section>
