---
import { Icon } from "astro-icon";
import "@styles/components/_to-top.scss";
---

<a href="#header" class="c-to-top c-button c-button--primary">
  <Icon
    name="lucide:chevron-up"
    width="24"
    class="c-to-top__icon u-ignore-click"
  />
</a>
