---
import { Icon } from "astro-icon/components";
import "@styles/components/_to-top.scss";
---

<a
  href="#header"
  class="c-to-top c-button c-button--primary"
  aria-label="back to top"
>
  <Icon
    name="lucide:chevron-up"
    width="24"
    class="c-to-top__icon u-ignore-click"
  />
</a>
