---
import BaseLayout from "../layouts/Layout.astro";
import type Props from "../layouts/Layout.astro";

const { seo, contentModifierClass } = Astro.props;

const modifierClass = `o-content--${contentModifierClass}`;
---

<BaseLayout seo={seo}>
  <main class:list={["o-content", modifierClass]}>
    <article>
      <slot />
    </article>
  </main>
  <aside>
    <slot name="aside" />
  </aside>
</BaseLayout>
