@use '@styles/variables/layout' as layout;
@use '@styles/variables/colors';

:root {
	@each $name,
		$color in colors.$colors {
		--#{$name}: #{$color};
	}
}

:is(.o-header, .o-footer, .o-content) {
	max-width: layout.$content-width;
	margin: 0 auto;
}

img {
	max-width: 100%;
}
