@use '@styles/variables/layout' as layout;
@use '@styles/variables/colors';

:root {
	@each $name,
		$color in colors.$colors {
		--#{$name}: #{$color};
	}
}

body {
	margin: 0;
}

:is(.o-header__inner, .o-footer__inner, .o-content, .c-search) {
	max-width: layout.$content-width;
	margin: 0 auto;
}

img {
	max-width: 100%;
}
