@use 'sass:list';
@use '@sass-butler/mixins' as butler-mx;
@use '@sass-butler/functions' as butler-fn;
@use '@styles/variables/colors' as colors;

html {
	font-family: system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';

	@include butler-mx.font-smoothing;
	@include butler-mx.select-style(colors.$green-600, #fff);
}

$headlines: ();

@for $h from 1 to 6 {
	$headlines: list.append($headlines, h#{$h}, $separator: comma);
}

:is(#{$headlines}) {
	font-weight: 700;
}

a {
	color: var(--blue-500);
	cursor: pointer;
	text-decoration: none;
}

.u-scale-hover {
	transition: transform 0.2s ease-in-out;

	@media (hover: hover) {
		&:hover {
			transform: scale(1.05);
		}
	}
}
