@use 'sass:list';
@use '@sass-butler/mixins' as butler-mx;
@use '@sass-butler/functions' as butler-fn;
@use '@styles/variables/colors' as colors;
@use '@styles/variables/fonts';

html {
	font-family: system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';

	@include butler-mx.font-smoothing;
	@include butler-mx.select-style(colors.$green-600, #fff);
}

:root {
	@each $name,
		$size in fonts.$font-sizes {
		--font-size-#{$name}: #{$size};
	}
}

$headlines: ();

@for $h from 1 to 6 {
	$headlines: list.append($headlines, h#{$h}, $separator: comma);
}

:is(#{$headlines}) {
	font-weight: 700;
}

h1 {
	font-size: var(--font-size-3xl);
}

h2 {
	font-size: var(--font-size-2xl);
}

h3 {
	font-size: var(--font-size-xl); // 20px - 32px on 320px - 1280px
}

a {
	color: var(--blue-500);
	cursor: pointer;
}

:is(a, p) {
	font-size: var(--font-size-xs);
}
